.button-style {
    color: white;
    background-color: blueviolet;
    margin: 5px;
}

.movie-button {

}

.movie-border {
    width: 150px;
    heigth: 150px;
    border: 5px solid black;
    padding: 5px;
    margin: 5px;
}

.movie-image {
    width: 150px;
    height: 150px;
}

.movie-rating {
    color: black;
}